# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env

# Temporary / Debug images
*.jpg
*.jpeg
*.png
!website/*.png
!website/*.jpg

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
